{% extends 'todo_list/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

  <h4 class="display-4" style="font-size: 35px;">Register Now</h4>
  <hr>
  <form method="POST"> 
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary mb-2">Sign Up</button>
    <div class="border-top pt-3">
        <small class="text-muted">
          already have an account? <a href="{% url 'login' %}">Login</a>
        </small>
    </div>
  </form>

{% endblock content %}